.container {
    padding: 10px;
    background-color: #1DB954;    
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 220px auto 0 auto;
}

.container h1,
.container p {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 15px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    font-size: 1em;
    text-align: center;
}

button {
    padding: 15px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    width: auto;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #007bff;
    color: white;
}